<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<aop:aspectj-autoproxy />
	
	<bean name = "circle" class = "com.demo.model.Circle">
		<!--  <property name = "name" value = "Concentric Circle" /> -->

	</bean>
	
	
	<bean name = "triangle" class = "com.demo.model.Triangle">
		<property name = "name" value = "Right Angle Triangle" />

	</bean>
	
	<bean id = "shapeService" class="com.demo.service.ShapeService" autowire="byName" />

	<bean name = "loggingAspect" class = "com.demo.aspect.LoggingAspect" />
</beans>
